{
  "CLIENT_ID": "",
  "CLIENT_SECRET": "",
  "REGION": "us",

  "LUA_FILE": "Multiboxer_Data.lua",
  "LUA_FILE_REMOVE_STRING": "Multiboxer_DataDB = ",
  "WOW_FOLDERS_ROOT_PATH": "C:\\_wow",
  "WOW_FOLDER_NAMES": [
    "wow0",
    "wow1",
    "wow2",
    "wow3",
    "wow4",
    "wow5",
    "wow6",
    "wow7",
    "wow8",
    "wow9"
  ],
  "ACCOUNT_FOLDER_NAMES": [
    "123#1",
    "123#2",
    "123#3",
    "123#4",
    "123#5",
    "123#1",
    "123#2",
    "123#3",
    "123#4",
    "123#5"
  ]
}
